.cell {
    border: 1px solid #000;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}
#div-play, #zone-game{
    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
}
.pionRed {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: red;
    border-radius: 50%;
    margin: 0.4rem;
}
.divclick {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: red;
    border-radius: 35%;
    margin: 0.7rem;
}
.divclick2 {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: yellow;
    border-radius: 35%;
    margin: 0.7rem;
}
.pionYellow {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: yellow;
    border-radius: 50%;
    margin: 0.4rem;
}

.played {
    border: 1px solid #000;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}
