.cell {
    border: 1px solid #000;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}
#lagrossediv, #legrostablo {
    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
}
.divclick, .pionRed {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: red;
    border-radius: 50%;
    margin: 0.4rem;
}
.divclick2, .pionYellow {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
    background-color: yellow;
    border-radius: 50%;
    margin: 0.4rem;
}

.played {
    border: 1px solid #000;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}

